<!DOCTYPE html>
<html>
    <%- include('../global/_head-admin', {title:"Admin Landing Page"}); %>
    <body ng-app="surpriseAdmin">
        <header class="admin-top-header">
            <div class="admin-top-banner">
                <div class="admin-top-banner-title"><a href="/">Surprise</a></div>
                
            </div>
            <div class="admin-top-action-group">	
                <ul class="admin-top-menu" ng-controller="TopMenuController as top">
                    <li 
                        ng-repeat="module in top.modules" 
                        ng-click="changeModules($index)"
                        ng-class="$index==getModuleIndex()?'active':''"
                        >
                        <div class="top-menu-item-text">{{ module.name}}</div>
                    </li>
                </ul>
                <ul class="admin-top-login-group">
                    <li><a>Super Admin</a></li>
                    <li>|</li>
                    <li><a href="/admin/logout">Sign Out</a></li>
                </ul>
            </div>
        </header>
        <module-container></module-container>
         <%- include('../global/_footer-admin'); %>
    </body>
</html>