<!DOCTYPE html>
<html>
    <%- include('../global/_head', {title:"Admin Landing Page"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/admin/logout">Sign Out</a></li>
            </ul>
        </header>

        <section class="main-content">
            <div class="main-content-box">
                 <div class="main-content-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </section>
         <%- include('../global/_footer'); %>
    </body>
</html>