<!DOCTYPE html>
<html>
    <%- include('../global/_head', {title:"Login to Surprise Admin!"}); %>
    <body class="login-page"> 
        <div class="form-wrapper">
            <div class="form-title"><a href="/">Surprise Admin</a></div>
            <form class="form-login" action="/admin/login" method="post">
                <input type="text" name="userIdentity" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button>login</button>
                <p id="forget-password" class="message"><a href="#">Forgot password?</a></p>
            </form>
        </div>       
    </body>
    <script type="text/javascript">
        $("#forget-password").on("click",function(event){
           event.preventDefault();
           alert("Sorry, we are still working on it. \nPlease search your brain first. \nThanks!");
        });
    </script>
</html>