<head>
    <title><%= title %></title>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
