<header class="top-banner">
    <div class="top-banner-title"><a href="/">Surprise</a></div>
    <ul class="top-login-group">
        <% if (!hasLogin) { %>
            <li><a href="/login">Login</a></li>
        <% } %>
        <% if (hasLogin) { %>
            <li><a href="/myShoppingCart">Cart (<%= cartCount %>)</a></li>
            <li>|</li>
            <li><a href="/myAccount">My Account</a></li>
            <li>|</li>
            <li><a href="/logout">Sign Out</a></li>
        <% } %>
    </ul>
</header>