<!DOCTYPE html>
<html>
    <head>
        <title>Checkout Your Surprise!</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script type="text/javascript">
            var sku="<%= sku %>";
            var customerId="<%= customerId %>";
        </script>
        <script type="text/javascript" src="/public/js/checkout.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    </head>
    <body ng-app="surpriseCheckout">

        <header class="checkout-banner">
            <div class="checkout-banner-title"><a onclick="goBack()">Checkout(<%= checkoutCount %> item)</a></div>
            <ul class="checkout-banner-left-group">
                <li class="checkout-banner-logo"><a onclick="goBack()">Surprise</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                <mod-address-selector></mod-address-selector>
                <mod-card-selector></mod-card-selector>
                <mod-product-review></mod-product-review>
            </div>
        </section>
        
        <%- include('global/_footer'); %>

        <script type="text/javascript">
         function goBack(){
             window.history.back();
         }
        </script>
    </body>
</html>