<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <% if (!hasLogin) { %>
                    <li><a href="/login">Login</a></li>
                    <li>|</li>
                    <li><a href="/inventory">Manage Inventory</a></li>
                <% } %>
                <% if (hasLogin) { %>
                    <li><a href="/myAccount">My Account</a></li>
                    <li>|</li>
                    <li><a href="/logout">Sign Out</a></li>
                <% } %>
            </ul>
        </header>

        <section class="main-content">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item carousel-item-1">
                        <img src="public/image/c1.jpg">
                    </div>
                </div>
            </div>
        </section>
        <footer class="site-footer">
            <ul class="site-footer-content">
                <li>All rights reserved © 2017</li>
                <li>CS6360 Group 4, Spring 2017, UTDallas</li>
            </ul>
        </footer>
    </body>
</html>