<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body class="fullscreen">
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <% if (!hasLogin) { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
                <% if (hasLogin) { %>
                    <li><a href="/myAccount">My Account</a></li>
                    <li>|</li>
                    <li><a href="/logout">Sign Out</a></li>
                <% } %>
            </ul>
        </header>
        <section class="landing-box">
            <div class="landing-carousel-box">
                <div class="carousel">
                    <div class="carousel-item carousel-item-1">
                    </div>
                </div>
            </div>
            <div class="landing-footer-box">
                 <%- include('global/_footer'); %>
            </div>
            <div class="search-box">
                <div class="search-content">
                <form class="gform-wrapper" action="/search" method="post">
                        <div class="gform-row">
                            <div class="gform-col-12">
                                 <div class="search-title">
                                    Tell us a short story<br> we give you a big <br><strong>surprise</strong> 
                                 </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                 <div class="gform-input-group">
                                    <input type="text" name="keyword" placeholder="Tell us a short story.">
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                 <button class="search">Surprise Me</button>
                                 <button class="look">Just have a look.</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>