<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Login to Surprise!"}); %>
    <body class="fullscreen">
        <div class="login-box">
            <div class="login-form">
                <form class="gform-wrapper" action="/login" method="post">
                    <div class="gform-row">
                         <div class="gform-col-12">
                            <div class="gform-title gform-title-center gform-title-light"><a href="/">Surprise</a></div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <div class="gform-input-group">
                                <input type="text" name="userIdentity" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <div class="gform-input-group">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <button class="light">login</button>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <p id="forget-password" class="message"><a href="#">Forgot password?</a></p>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <div class="gform-horizontal-line"></div>
                      </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <button id="show-signUp" class="light">Create an account</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="signup-form" style="display:none">
                <form class="gform-wrapper" action="/signUp" method="post">
                    <div class="gform-row">
                         <div class="gform-col-12">
                            <div class="gform-title gform-title-center gform-title-light"><a href="/">Sign Up</a></div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <div class="gform-input-group">
                                <input type="text" name="firstName" placeholder="FirstName" >
                            </div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <div class="gform-input-group">
                                <input type="text" name="lastName" placeholder="LastName" >
                            </div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                             <div class="gform-input-group">
                                <input type="text" name="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                             <div class="gform-input-group">
                                 <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                    </div>
                     <div class="gform-row">
                        <div class="gform-col-12">
                             <div class="gform-input-group">
                                 <input type="password" name="confirmPassword" placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <button class="light">Sign Up</button>
                      </div>
                    </div>
                    <div class="gform-row">
                        <div class="gform-col-12">
                            <p id="show-login" class="message">Already have an account? <a href="#">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $("#show-signUp").on("click",function(event){
           event.preventDefault();
           $(".login-form").hide();
           $(".signup-form").show();
        });
        $("#show-login").on("click",function(event){
            event.preventDefault();
           $(".signup-form").hide();
           $(".login-form").show();
        });
        $("#forget-password").on("click",function(event){
           event.preventDefault();
           alert("Sorry, we are still working on it. \nPlease search your brain first. \nThanks!");
        });
    </script>
</html>