<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/myAccount">My Account</a></li>
                <li>|</li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                <div class="main-content-title-center">
                    <h1>Your Account</h1>
                </div>
                <ul class="account-manage">
                    <div class="account-manage-item">Orders</div>
                    <div class="account-manage-item"><a href="/listAddress">Shipping Address</a></div>
                    <div class="account-manage-item"><a href="/listCard">Payment Methods</a></div>
                    <div class="account-manage-item"><a href="/profile">Manage Profile</a></div>
                </ul>
            </div>
        </section>
        <%- include('global/_footer'); %>
    </body>
</html>