<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/myAccount">My Account</a></li>
                <li>|</li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                Payment
                <a href="/saveCard">saveCard</a>
            </div>
        </section>
         <%- include('global/_footer'); %>
        <script type="text/javascript">
            $("#enableEdit").on("click",function(event){
                event.preventDefault();
                $(".form-profile input[type=text]").attr("readonly",false);
                $("#enableEdit").hide();
                $("#submit").show();
                $(".form-profile input[type=text]").first().focus();
                $(".form-profile").addClass("editing");
            });
    </script>
    </body>
</html>