body{
    background-color:#fff;
    margin:0;
    padding:0;
    font-family: Helvetica,Arial,serif,sans-serif;
    font-size: 12px;
    
}

ul{list-style-type:none;margin: 0;padding: 0}
a{color: inherit;text-decoration: inherit;cursor: inheri;cursor: pointer;}
.top-banner{
    position:relative;
    background-color:#fff;
    color:#000;
    height: 52px;
    line-height: 52px;
    text-align: center; 
}
.top-login-group{
    position:absolute;
    top:0;
    right:0;
    padding-right:10px;

}
.top-banner-title{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.top-login-group li { display: inline-block}

.main-content{
    min-height:550px;
    text-align:center;
    width:100%;
    float:left;
}
.main-content-box{
    width:800px;
    margin:0 auto;
}
.main-content-title{
    text-align: left;
}
.site-footer{
    background-color: #212121;
    color: #999999;
    padding: 0;
    float:left;
    width:100%;
}
.site-footer-content{
    padding:40px 10px 10px 50px;
    text-align: right;
    letter-spacing: 1px;
}

.carousel{
    position:relative;
}
.carousel-inner{
    position:relative;
    width:100%;
    height: 550px;
    overflow: hidden;
}
.carousel-item{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 1;    
    text-align: center;
}
.carousel-item img{
    width:100%;
    height:auto;
}

.login-page{
   text-align: center; 
   width:100%;
   background:#fff;
   padding-top:12%;

}
.form-wrapper{
    width:300px;
    position: relative;
    z-index: 1;
    background: #212121;
    margin: 0 auto 100px;
    padding: 0 45px 30px;
    text-align: center;
}

.form-wrapper form{
    position: relative;
}
.form-wrapper input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}

.form-wrapper  button{
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}
.form-wrapper .form-title{
    color:#fff;
    height:65px;
    line-height:55px;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.form-wrapper .message{
    color:#4a4a4a;
    text-align: center;
}
.form-wrapper .message a{
    font-weight:bold;
}
.login-page .form-wrapper .message{
    color:#ccc
}
.login-page .form-wrapper .message a{
    color:#fff;
    font-weight:bold;
}

.account-manage-item{
    width:200px;
    float:left;
    height:100px;
    line-height:100px;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.account-manage-item:hover{
    background:#000;
    color:#fff
}

.account-manage-title{
    text-align: center;
    padding: 20px;
}

.account-manage-div {
    margin: auto;
    width: 50%;
    border: 1px solid #999999;
    padding: 10px;
}

.form-login{
    width:100%;
}

.horizontal-line{
    width:100%;
    border-bottom:1px solid #ddd;
    margin:20px 0;
}


.form-wrapper.form-profile{
    background:none;
    text-align: left;
}
.form-profile .form-title{
    text-align: left;
    color:#000;
}
.form-profile button{
   background:#000;
   color:#fff;
}
.form-profile .editing input{
    border-bottom:1px solid #000
}

.address-list{
    width:100%;
    text-align: left;
}

.address-list-title{
    color:#000;
    height:65px;
    line-height:55px;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.address-item{
    border: 1px solid #000;
    border-radius: 2px;
    padding:10px;
    min-height: 147px;
    margin-bottom: 15px;
}
.address-item-content{
    width:50%;
    display:inline-block;
}
.address-item-content li{
    width:100%;
    line-height:25px;
    height:25px;
    font-size: 1.2em;
}
.address-item-default{
    font-size: 2em;
    margin-bottom:10px;
}
.address-item-action{
    float:right;
    padding-right:20px;
}
.address-item-action li{
    width:150px;
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}
.address-add-button{
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}

.gform-wrapper{
    width:100%;
    color:#000;
}
.gform-title{
    text-align: left;
    height:45px;
    line-height:45px;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.gform-wrapper form{
    position:relative;
    text-align:left;
}
.gform-row{
    width:100%;
    padding-bottom:10px;
    float:left;
}
.gform-col-12,
.gform-col-8,
.gform-col-6,
.gform-col-4{
    padding:0 10px;
    float:left;
    box-sizing: border-box;
}

.gform-col-12{
    width:100%;
}
.gform-col-8{
    width:60%;   
}
.gform-col-6{
    width:45%;   
}
.gform-col-4{
    width:30%;   
}
.gform-input-group{
    width:100%;
}
.gform-input-group label{
    width:100%;
}
.gform-input-group input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}
.gform-input-group input, .gform-input-group select{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height:48px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}
.gform-wrapper button{
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.card-list{
    width:100%;
    text-align: left;
}

.card-list-title{
    color:#000;
    height:65px;
    line-height:55px;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.card-item{
    border: 1px solid #000;
    border-radius: 2px;
    padding:10px;
    min-height: 147px;
    margin-bottom: 15px;
}
.card-item-content{
    width:50%;
    display:inline-block;
}
.card-item-content li{
    width:100%;
    line-height:25px;
    height:25px;
    font-size: 1.2em;
}
.card-item-default{
    font-size: 2em;
    margin-bottom:10px;
}
.card-item-action{
    float:right;
    padding-right:20px;
}
.card-item-action li{
    width:150px;
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}
.card-add-button{
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}