body{
    background-color:#fff;
    margin:0;
    padding:0;
    font-family: Helvetica,Arial,serif,sans-serif;
    font-size: 12px;
    
}
body.fullscreen{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul{list-style-type:none;margin: 0;padding: 0}
a{color: inherit;text-decoration: inherit;cursor: inherit;cursor: pointer;}

.gform-wrapper{
    width:100%;
    color:#000;
}
.gform-wrapper form{
    position:relative;
    text-align:left;
}
.gform-row{
    width:100%;
    padding-bottom:10px;
    float:left;
}
.gform-col-12,
.gform-col-8,
.gform-col-6,
.gform-col-4{
    padding:0 10px;
    float:left;
    box-sizing: border-box;
}

.gform-col-12{
    width:100%;
}
.gform-col-8{
    width:60%;   
}
.gform-col-6{
    width:45%;   
}
.gform-col-4{
    width:30%;   
}
.gform-title{
    text-align: left;
    color:#000;
    height:70px;
    line-height:70px;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
}
.gform-title-center{
    text-align: center;
}
.gform-title-light{
    color:#fff
}
.gform-input-group{
    width:100%;
    text-align: left;
}
.gform-input-group label{
    width:100%;
}
.gform-input-group input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}
.gform-input-group input, .gform-input-group select{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height:48px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}
.gform-wrapper button{
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition:  background-color 0.5s,color 0.5s;
    border:1px solid #000;
}
.gform-wrapper button:hover{
    background:#fff;
    color:#000;
}
.gform-wrapper button.light{
    background: #fff;
    border:1px solid #000;
    color:#000
}
.gform-wrapper button.light:hover{
    background:#ccc;
    color:#000;
}
.gform-horizontal-line{
    width:100%;
    border-bottom:1px solid #ddd;
    margin:0;
}
.top-banner{
    position:relative;
    background-color:#fff;
    color:#000;
    height: 52px;
    line-height: 52px;
    text-align: center; 
}
.top-login-group{
    position:absolute;
    top:0;
    right:0;
    padding-right:10px;

}
.top-banner-title{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.top-login-group li { display: inline-block}

.site-footer{
    background-color: #212121;
    color: #999999;
    padding: 0;
    float:left;
    width:100%;
}
.site-footer-content{
    padding:40px 10px 10px 50px;
    text-align: right;
    letter-spacing: 1px;
}
.landing-box{
    position: absolute;
    top:52px;
    left: 0px;
    bottom:0px;
    width:100%;
}
.landing-carousel-box{
    position: absolute;
    top:0;
    left:0;
    bottom:78px;
    width: 100%;
    z-index: 100;
}
.carousel{
    position:relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.carousel-item{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 1;    
    text-align: center;
}
.carousel-item-1{
    width:100%;
    height:100%;
    background-image:url("/public/image/c1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.landing-footer-box{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    height:78px;
    z-index: 100;
}
.landing-footer-box .site-footer{
    height:100%;
}


.search-box{
    position: absolute;
    top:15%;
    width:100%;
    z-index: 200;
    text-align: center;
}
.search-content{
    width:550px;
    margin: 0 auto;
}
.search-title{
    color:#fff;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.search-title strong{
    text-transform: uppercase;
    font-size: 1.3em;
}

.search-content .gform-input-group input{
    background: #fff;
}
.search-content .gform-wrapper button{
    text-transform: none;
    margin: 0 10px;
    width:40%;
    font-weight: bold;
    border:none;
    transition:  background-color 0.5s,color 0.5s;
}
.search-content.gform-wrapper button.search{
    background:#2196F3;
}
.search-content .gform-wrapper button.look{
    background:#9E9E9E;
}
.search-content .gform-wrapper button:hover{
    background:#fff;
    color:#2196F3;
}

.login-box{
    position: absolute;
    top:15%;
    width:100%;
    z-index: 100;
    text-align: center;
}
.login-form{
    width:300px;
    height:380px;
    position: relative;
    z-index: 1;
    background: #212121;
    margin: 0 auto;
    padding: 0 45px 30px;
    text-align: center;
}

.login-form-admin{
    height:300px;
}

.login-form .message{
    color:#4a4a4a;
    text-align: center;
}
.login-form .message a{
    color:#fff;
    font-weight:bold;
}

.signup-form{
    width:300px;
    height:515px;
    position: relative;
    z-index: 1;
    background: #212121;
    margin: 0 auto;
    padding: 0 45px 30px;
    text-align: center;
}
.signup-form .message{
    color:#ccc;
    text-align: center;
}
.signup-form .message a{
    color:#fff;
    font-weight:bold;
}

.main-content{
    min-height:570px;
    text-align:center;
    width:100%;
    float:left;
    border-top:1px solid #000;
}
.main-content-box{
    width:800px;
    margin:0 auto;
}
.main-content-title{
    text-align: left;
}
.main-content-title-center{
    text-align: center;
}

.account-manage-item{
    margin: auto;
    width:50%;
    height:60px;
    line-height:60px;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    transition:  background-color 0.5s,color 0.5s;
    font-size: 1.5em;
    margin-bottom:25px;
}
.account-manage-item a{
    display: block;
    height: 100%;
    width: 100%;
}
.account-manage-item:hover{
    background-color:#000;
    color:#fff
}

.profile-form{
    width:300px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 0 45px 30px;
    text-align: center;
}
.profile-form.editing input{
    border-bottom:1px solid #000
}
.profile-form .message{
    color:#656464;
    text-align: center;
}
.profile-form .message a{
    color:#656464;
    font-weight:bold;
}

.address-list{
    width:100%;
    text-align: left;
}
.address-item{
    border: 1px solid #000;
    border-radius: 2px;
    padding:10px;
    min-height: 147px;
    margin-bottom: 15px;
}
.address-item-content{
    width:50%;
    display:inline-block;
}
.address-item-content li{
    width:100%;
    line-height:25px;
    height:25px;
    font-size: 1.2em;
}
.address-item-default{
    font-size: 2em;
    margin-bottom:10px;
}
.address-item-action{
    float:right;
    padding-right:20px;
}
.address-item-action li{
    width:150px;
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}
.address-add-button{
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}

.card-list{
    width:100%;
    text-align: left;
}
.card-item{
    border: 1px solid #000;
    border-radius: 2px;
    padding:10px;
    min-height: 147px;
    margin-bottom: 15px;
}
.card-item-content{
    width:50%;
    display:inline-block;
}
.card-item-content li{
    width:100%;
    line-height:25px;
    height:25px;
    font-size: 1.2em;
}
.card-item-default{
    font-size: 2em;
    margin-bottom:10px;
}
.card-item-action{
    float:right;
    padding-right:20px;
}
.card-item-action li{
    width:150px;
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}
.card-add-button{
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}

