
body{
    background-color:#fff;
    margin:0;
    padding:0;
    font-family: Helvetica,Arial,serif,sans-serif;
    font-size: 12px;
    
}
body.fullscreen{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul{list-style-type:none;margin: 0;padding: 0}
a{color: inherit;text-decoration: inherit;cursor: inherit;cursor: pointer;}

.gform-wrapper{
    width:100%;
    color:#000;
}
.gform-wrapper form{
    position:relative;
    text-align:left;
}
.gform-row{
    width:100%;
    padding-bottom:10px;
    float:left;
}
.gform-col-12,
.gform-col-9,
.gform-col-8,
.gform-col-6,
.gform-col-4,
.gform-col-3{
    padding-right:20px;
    float:left;
    box-sizing: border-box;
}

.gform-col-12{
    width:100%;
}
.gform-col-9{
    width:75%;   
}
.gform-col-8{
    width:60%;   
}
.gform-col-6{
    width:45%;   
}
.gform-col-4{
    width:30%;   
}
.gform-col-3{
    width:25%;   
}

.gform-title{
    text-align: left;
    color:#000;
    height:70px;
    line-height:70px;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
}
.gform-title-center{
    text-align: center;
}
.gform-title-light{
    color:#fff
}
.gform-input-group{
    width:100%;
    text-align: left;
}
.gform-input-group label{
    width:100%;
}
.gform-input-group input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}
.gform-input-group input, .gform-input-group select{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height:48px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}
.gform-input-group textarea{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom:1px solid #f2f2f2;
}
.gform-wrapper button{
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 100%;
    border: 0;
    height:48px;
    line-height: 1;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition:  background-color 0.5s,color 0.5s;
    border:1px solid #000;
}
.gform-wrapper button:hover{
    background:#fff;
    color:#000;
}
.gform-wrapper button.light{
    background: #fff;
    border:1px solid #000;
    color:#000
}
.gform-wrapper button.light:hover{
    background:#ccc;
    color:#000;
}
.gform-horizontal-line{
    width:100%;
    border-bottom:1px solid #ddd;
    margin:0;
}
.top-banner{
    position:relative;
    background-color:#fff;
    color:#000;
    height: 52px;
    line-height: 52px;
    text-align: center; 
}
.top-login-group{
    position:absolute;
    top:0;
    right:0;
    padding-right:10px;

}
.top-banner-title{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.top-login-group li { display: inline-block}

.site-footer{
    background-color: #212121;
    color: #999999;
    padding: 0;
    float:left;
    width:100%;
}
.site-footer-content{
    padding:40px 10px 10px 50px;
    text-align: right;
    letter-spacing: 1px;
}
.landing-box{
    position: absolute;
    top:52px;
    left: 0px;
    bottom:0px;
    width:100%;
}
.landing-carousel-box{
    position: absolute;
    top:0;
    left:0;
    bottom:78px;
    width: 100%;
    z-index: 100;
}
.carousel{
    position:relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.carousel-item{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 1;    
    text-align: center;
}
.carousel-item-1{
    width:100%;
    height:100%;
    background-image:url("/public/image/c1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.landing-footer-box{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    height:78px;
    z-index: 100;
}
.landing-footer-box .site-footer{
    height:100%;
}


.search-box{
    position: absolute;
    top:15%;
    width:100%;
    z-index: 200;
    text-align: center;
}
.search-content{
    width:550px;
    margin: 0 auto;
}
.search-title{
    color:#fff;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.search-title strong{
    text-transform: uppercase;
    font-size: 1.3em;
}

.search-content .gform-input-group input{
    background: #fff;
}
.search-content .gform-wrapper button{
    text-transform: none;
    margin: 0 10px;
    width:40%;
    font-weight: bold;
    border:none;
    transition:  background-color 0.5s,color 0.5s;
}
.search-content.gform-wrapper button.search{
    background:#2196F3;
}
.search-content .gform-wrapper button.look{
    background:#9E9E9E;
}
.search-content .gform-wrapper button:hover{
    background:#fff;
    color:#2196F3;
}

.login-box{
    position: absolute;
    top:15%;
    width:100%;
    z-index: 100;
    text-align: center;
}
.login-form{
    width:300px;
    height:380px;
    position: relative;
    z-index: 1;
    background: #212121;
    margin: 0 auto;
    padding: 0 45px 30px;
    text-align: center;
}

.login-form-admin{
    height:300px;
}

.login-form .message{
    color:#4a4a4a;
    text-align: center;
}
.login-form .message a{
    color:#fff;
    font-weight:bold;
}

.signup-form{
    width:300px;
    height:515px;
    position: relative;
    z-index: 1;
    background: #212121;
    margin: 0 auto;
    padding: 0 45px 30px;
    text-align: center;
}
.signup-form .message{
    color:#ccc;
    text-align: center;
}
.signup-form .message a{
    color:#fff;
    font-weight:bold;
}

.main-content{
    min-height:570px;
    text-align:center;
    width:100%;
    float:left;
    border-top:1px solid #000;
}
.main-content-box{
    width:800px;
    margin:0 auto;
}
.main-content-title{
    text-align: left;
}
.main-content-title-center{
    text-align: center;
}

.account-manage-item{
    margin: auto;
    width:50%;
    height:60px;
    line-height:60px;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    transition:  background-color 0.5s,color 0.5s;
    font-size: 1.5em;
    margin-bottom:25px;
}
.account-manage-item a{
    display: block;
    height: 100%;
    width: 100%;
}
.account-manage-item:hover{
    background-color:#000;
    color:#fff
}

.profile-form{
    width:300px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 0 45px 30px;
    text-align: center;
}
.profile-form.editing input{
    border-bottom:1px solid #000
}
.profile-form .message{
    color:#656464;
    text-align: center;
}
.profile-form .message a{
    color:#656464;
    font-weight:bold;
}

.address-list{
    width:100%;
    text-align: left;
}
.address-item{
    border: 1px solid #000;
    border-radius: 2px;
    padding:10px;
    min-height: 147px;
    margin-bottom: 15px;
}
.address-item-content{
    width:50%;
    display:inline-block;
}
.address-item-content li{
    width:100%;
    line-height:25px;
    height:25px;
    font-size: 1.2em;
}
.address-item-default{
    font-size: 2em;
    margin-bottom:10px;
}
.address-item-action{
    float:right;
    padding-right:20px;
}
.address-item-action li{
    width:150px;
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}
.address-add-button{
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}

.card-list{
    width:100%;
    text-align: left;
}
.card-item{
    border: 1px solid #000;
    border-radius: 2px;
    padding:10px;
    min-height: 147px;
    margin-bottom: 15px;
}
.card-item-content{
    width:50%;
    display:inline-block;
}
.card-item-content li{
    width:100%;
    line-height:25px;
    height:25px;
    font-size: 1.2em;
}
.card-item-default{
    font-size: 2em;
    margin-bottom:10px;
}
.card-item-action{
    float:right;
    padding-right:20px;
}
.card-item-action li{
    width:150px;
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}
.card-add-button{
    text-align: center;
    outline: 0;
    background: #000;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px
}

.search-result-list{
    position: relative;
    width: 100%;
}
.search-result-list-item{
    float: left;
    position: relative;
    width: 256px;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    margin: 0 10px 12px 0;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
}
.search-result-list-item-row{
    width:100%;
}
.search-result-list-item-name{
    font-size: 15px;
    padding-top:15px;
    text-align:left;
    color:#0066c0;
    float:left;
}
.search-result-list-item-price{
    font-size: 25px;
    font-weight: bold;
    color:#111;
    float:left;
    padding:15px 15px 0 5px;
}
.search-result-list-item-price-currency{
    font-size: 14px;
    font-weight: normal;
}
.product-detail{
    width:100%;
    position: relative;
    float:left;
}
.product-detail-left{
    float:left;
    width:350px;
    padding: 20px;
    box-sizing: border-box;
}
.product-detail-right{
    float:left;
    width:450px;
    padding: 20px;
    box-sizing: border-box;
}
.product-details-name{
    width:100%;
    text-align: left;
    font-size:20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.product-details-description{
    width:100%;
    text-align: left;
    font-size:14px;
    min-height: 100px;
}

.product-details-action-group{
    width:100%;
}
.product-details-action-group button{
    float: left;
    outline: 0;
    background: #000;
    width: 120px;
    border: 0;
    height: 40px;
    line-height: 1px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.5s,color 0.5s;
    border:1px solid #000;
}
.product-details-action-group button.light{
    background: #fff;
    border:1px solid #000;
    color:#000
}

.product-details-action-group button:hover,.product-details-action-group button.light:hover{
    background:#ccc;
    color:#000;
    border:1px solid #000;
}

.product-details-price{
    width:100%;
    font-size: 14px;
    font-weight: normal;
    color:#111;
    line-height:1;
    height:40px;
    text-align:left;

}
.product-details-price-currency{
    font-size: 20px;
    font-weight: bold;
}
.product-review-left{
    float:left;
    width:250px;
    padding: 20px;
    box-sizing: border-box;
}
.product-review-content{
    width:100%;
    float:left;
    padding:0 25px;
}
.product-review-list{
    width:100%;
    float:left;
    padding:0 25px;

}
.product-review-item{
    width:100%;
    min-height:60px;
}
.product-review-item-left{
    float:left;
    width:50px;
}
.product-review-item-rate-icon{
    width:50px;
    height:50px;
    background:#000;
}
.product-review-item-right{
    float:left;
    padding-left:10px;
    text-align: left;
    font-size: 14px;
}
.product-review-item-comment{
    padding-top:3px;
}
.cart-list-item{
    float:left;
    width:100%;
    border:1px solid #111;
    margin-bottom:10px;
    text-align: left;
    padding:5px;
    box-sizing: border-box;
}
.cart-list-item-img{
    float:left;
}
.cart-list-item-info{
    float:left;
    width:200px;
    padding:0 10px;
}
.cart-list-item-info-name{
    font-size:16px;
    font-weight: bold;
    margin-bottom:5px;
}
.cart-list-item-info-description{
    font-size:14px;
    margin-bottom:10px;
}
.cart-list-item-info-delete{
    font-size:12px;
    font-weight: normal;
    color:#9e9e9e
}
.cart-list-item-price{
    float:left;
    width:190px;
    text-align: center;
    font-size:16px;
    font-weight: bold;
}
.cart-list-item-subscription-price{
    font-size:16px;
    font-weight: bold;
    margin-top:30px;
}
.cart-list-item-quantity{
    float:left;
    width:178px;
    text-align: center;
    font-size:16px;
    font-weight: bold;
}


.cart-list-item-quantity select{
    float: right;
    margin-right: 45px;
    width:40px;
    height:30px;
    background: #fff;
    padding: 0px 13px;
    box-sizing: border-box;
    font-size: 18px; 
    border: 1px solid #000;
    border-radius: 0;
    -webkit-appearance: none;
    text-align: center;
}

.cart-list-item-subscription-option{
    float:left;
    width:178px;
    text-align: center;
    font-size:16px;
    font-weight: bold;
}
.cart-list-item-subscription-option label{
    width:100%;
    text-align: left;
    font-size:16px;
    font-weight: bold;
    display: inline-block;
}
.cart-list-item-subscription-option select{
    float: left;
    margin-right: 45px;
    width:40px;
    height:30px;
    background: #fff;
    padding: 0px 13px;
    box-sizing: border-box;
    font-size: 18px; 
    border: 1px solid #000;
    border-radius: 0;
    -webkit-appearance: none;
    text-align: center;
}
.cart-list-item-subscription-option select.large{
    width:130px;
}
.cart-summary{
    float:left;
    width:100%;
    border-top:1px solid #111;
    text-align: right;
    margin-bottom:10px;
}
.cart-summary-subtotal{
    padding:5px 2px;
    font-size:16px;
    font-weight: bold;
}
.cart-summary-subtotal button{
    outline: 0;
    background: #000;
    width: 125px;
    border: 1px solid #000;
    height:30px;
    text-align: center;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition:  background-color 0.5s,color 0.5s;

}
.cart-summary-subtotal  button:hover{
    background:#fff;
    color:#000;
}

.checkout-banner{
    position:relative;
    background-color:#fff;
    color:#000;
    height: 52px;
    line-height: 52px;
    text-align: center; 
}
.checkout-banner-left-group{
    position:absolute;
    top:0;
    left:10px;
    padding-right:10px;

}
.checkout-banner-title,
.checkout-banner-logo{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.checkout-mod-section{
    float:left;
    width:100%;
    padding:10px 0;
    border-bottom:1px solid #111
}
.checkout-mod-section-title{
    font-size:18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.checkout-mod-section-info{
    font-size:14px;
    text-transform: uppercase;
    text-align: left;
}
.checkout-mod-section-action{
    float:right;
}
.checkout-mod-section-action button{
    width: 70px;
    height:30px;
    line-height:1;
    text-transform: none;
}
.checkout-mod-section-option-list{
    text-align: left;
    font-size:14px;
    text-transform: uppercase;
}
.checkout-mod-section-option-list li{
    padding-bottom:10px
}
.checkout-mod-section-option-list-add{
    font-weight: bold;
    padding-left:5px;
    color:#111;
}
.checkout-mod-info-editor input,
.checkout-mod-info-editor select{
    height:30px;
}
.checkout-mod-info-editor button{
    text-transform: none;
    height:30px;
    line-height:1;
}

.checkout-mod-summary-label{
    float:left;
    width:50%;
    text-align: left;
    font-size: 14px;
    text-transform: none;
    padding-left: 20px;
    box-sizing: border-box;
}
.checkout-mod-summary-value{
    float:left;
    width:50%;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.checkout-mod-summary-total .checkout-mod-summary-label,
.checkout-mod-summary-total .checkout-mod-summary-value
{
    border-top:1px solid #111;
    font-size: 20px;
    font-weight: bold;
}

button.checkout-mod-summary-submit{
    width: 160px;
    height: 40px;
    line-height: 1;
}

.order-line-item{
    float:left;
    width:100%;
    border:1px solid #cec9c9;
    margin-bottom:10px;
    text-align: left;
    box-sizing: border-box;
}
.order-line-item .gform-row{
    padding-bottom: 0;
}
.order-line-item-header{
    padding: 2px 5px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    line-height: 1.5em;
}
.order-line-item-checkbox{
    vertical-align: middle;
    text-align: center;
    height:100%;
    margin-top:70px;
    float:left;
    width:100px;
}
.order-line-item-img{
    float:left;
    padding:10px;
}
.order-line-item-info{
    float:left;
    width:200px;
    padding:10px;
}
.order-line-item-info-name{
    float:left;
    width:100%;
    font-size:16px;
    line-height: 1;
    font-weight: bold;
    margin-bottom:10px;
}
.order-line-item-info-description{
    float:left;
    width:100%;
    font-size:14px;
    margin-bottom:10px;
}
.order-line-item-info-quantity label{
    font-weight: bold;
}
.order-line-item-info-quantity input{
    width:40px;

    margin-top:3px;
    text-align: center; 
}
.order-line-item-action{
    float: right;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.order-line-item-action li{
    width:100%;
    margin-bottom:10px
}
.order-line-item-action button{
    width: 190px;
    height:30px;
    line-height:1;
    text-transform: none;
}
.order-line-item-info-price{
    float:left;
    width:100%;
    width:190px;
    font-size:16px;
    font-weight: bold;
    
}

.order-line-item-status{
    font-size:16px;
    font-weight: 700;
    padding:10px 10px 0 10px;
}
.order-line-item-status span{
    font-size:14px;
    font-weight: normal;
}

.order-line-item-response{
    float: right;
    text-align: right;
    padding: 10px 20px;
}
.order-line-item-response label{
    font-size:14px;
    font-weight: bold;
}
.order-line-item-response select{
    height:30px;
    padding: 2px 5px;
    margin-top: 3px;
    width:186;
}

/* admin side */
.admin-top-banner{
    position:relative;
    background-color:#fff;
    color:#000;
    height: 30px;
    line-height: 30px;
    text-align: center; 
}

.admin-top-banner-title{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.admin-top-header li { display: inline-block}

.admin-top-action-group{
    background: #000;
    height:40px;
    text-align: left;
    position: relative;
    width: 100%;

}
.admin-top-menu li{
    color:#fff;
    background: #000;
    height:40px;
    line-height: 40px;
    text-align: center;
    width:100px;
    font-size: 12px;
    transition:  background-color 0.5s,color 0.5s;
    float: left;
    box-sizing: border-box;
}
.admin-top-menu li:hover{
    color:#000;
    background: #fff;
}
.admin-top-menu li.active{
    border-bottom: 1px solid #fff
}
.admin-top-login-group{
    float: right;
    top:0;
    right:0;
    padding-right:10px;
    color:#fff;
    height:40px;
    line-height: 40px;
}

.admin-main-content{
    min-height:570px;
    text-align:center;
    width:100%;
    float:left;
    position: relative;
}
.admin-left-panel{
    width:200px;	
	left:0;
    top:0;
	background-color:#eee;
	height:100%;
    position: absolute;
    padding: 10px 5px;
    box-sizing: border-box;
}
.admin-right-content-box{
    margin-left:200px;
    min-height:570px;
    padding:5px 10px;
}
.panel-row{
    width:100%;
    padding-bottom:20px;
    float:left;
}
.panel-input-group{
    text-align: left;
}
.panel-input-group label{
    width:100%;
    display: block;
    font-weight: bold;

}
.panel-input-group input,.panel-input-group select{
    outline: 0;
    width:100%;
    height:30px;
    line-height: 30px;
    background: #fff;
    padding: 0px 3px;
    box-sizing: border-box;
    font-size: 12px; 
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
} 
.panel-input-group button{
    outline: 0;
    background: #000;
    width: 100%;
    border: 0;
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition:  background-color 0.5s,color 0.5s;
}
.panel-input-group button:hover{
    background:#fff;
    color:#000;
}

.admin-module-header{
    text-align: left;
    color: #000;
    font-size: 2em;
    font-weight: bold;
    margin-bottom:10px;
}

.admin-list-table{
	width:100%;
	max-width: 100%;
	font-size:14px;
	margin-top:10px;
    margin-bottom: 10px;
    border: 0;
}
.admin-list-table>thead{
	background-color:#000;
	color:#FAFAFA;
}
.admin-list-table>thead>tr>th{
	padding:6px 6px;
	font-weight: normal;
}
.admin-list-table>thead>tr>th:last-child{
	border-right: none;
}
.admin-list-table>tbody{
	background-color:#FAFAFA;
}
.admin-list-table>tbody>tr{
    cursor: pointer;
    transition:  background-color 0.5s;
}

.admin-list-table>tbody>tr:nth-child(even){
	background-color:#F0F0F0;
}

.admin-list-table>tbody>tr:hover,
.admin-list-table>tbody>tr:nth-child(even):hover{
    background-color: #888;
   
}
.admin-list-table>tbody>tr>td{
	padding:6px 6px;
	font-weight: normal;
	color:#333;
}
.admin-list-table>tbody>tr>td:last-child{
	border-right: none;
}

.admin-list-table-header-action-group{
    float:left;
}
.admin-list-table-header-action-group li{
    color:#fff;
    background: #aaa;
    height:30px;
    line-height: 30px;
    text-align: center;
    width:100px;
    font-size: 12px;
    transition:  background-color 0.5s,color 0.5s;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
}
.admin-list-table-header-action-group li:hover{
    background: #000;
}
.admin-list-table-page-action-group{
    float:right;
}
.admin-list-table-page-action-group li{
    color:#000;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    transition:  background-color 0.5s,color 0.5s;
    float: left;
    box-sizing: border-box;
}
.admin-list-table-page-action-group li select{
    outline: 0;
    min-width:40px;
    height:30px;
    line-height: 30px;
    background: #fff;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 12px; 
    border: 1px solid #000;
    border-radius: 0;
    -webkit-appearance: none;
    text-align: center;
}
.admin-list-table-nav-action-group{
     float:right;
}
.admin-list-table-nav-action-group li{
    color:#fff;
    background: #aaa;
    height:30px;
    line-height: 30px;
    text-align: center;
    width:50px;
    font-size: 12px;
    transition:  background-color 0.5s,color 0.5s;
    float: left;
    box-sizing: border-box;
    margin-left:5px;
    cursor: pointer;
}
.admin-list-table-nav-action-group li:hover{
    background: #000;
}

.admin-module-section{
    width:100%;
    background-color:#f6f6f6;
    float:left;
    text-align: left;
}
ul.admin-module-info{
    width:100%;
    line-height:1.5em;
    padding:5px 10px;
}
ul.admin-module-info li{
    width:100%;

}
ul.admin-module-info li.admin-module-info-header{
    font-weight: bold;
}
.admin-module-section-header{
    padding:5px 10px;
    background-color: #b9b9b9;
    box-sizing: border-box;
}
.admin-module-section-header-title{
    font-weight: 700;
    font-size: 18px;
}
.admin-shipment-status{
    font-weight: 700;
    font-size: 18px;
}
.admin-shipment-time{
    font-size: 14px;
    font-weight: normal;
}

.admin-line-item-img{
    width:100%;
    height:100%;
}
.admin-line-item-quantity{
    font-size:25px;
    text-align: center;
    padding-top:15px;
}

.admin-module-action{
    float:right;
    padding:5px 10px;
}
.admin-module-action button{
    height: 30px;
    line-height: 1;
    margin: 5px 0;
}

.order-col-left{
    padding-left: 20px; 
}

.order-line-height{
    line-height: 140%; 
}

