<div>
    <div class="admin-module-header">
        Product List 
    </div>
	<div class="admin-list-table-header">
		<ul class="admin-list-table-header-action-group">
			<li ng-click="createProduct()">
				+ Product
			</li>
		</ul>
		<ul class="admin-list-table-page-action-group">
			<li>
				<label for="count">Page Size:</label>
				<select name="count" ng-model="pageInfo.count" convert-to-number ng-change="render()">
					<option value=5> 5 </option>
					<option value=10> 10 </option>
					<option value=50> 50 </option>
				</select>
			</li>
		</ul>
	</div>
    <table class="admin-list-table">
		<thead>
			<tr>
				<th>sku</th>
				<th>name</th>
				<th>occasion</th>
				<th>department</th>
                <th>gender</th>
                <th>age</th>
                <th>price</th>
                <th>quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list.items" ng-click="showProductInfo($index)">
				<td>{{item.sku}}</td>
				<td>{{item.name}}</td>
                <td>{{item.occasion}}</td>
                <td>{{item.department}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.age}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
			</tr>
		</tbody>
	</table>
	<div class="admin-list-table-footer">
		<ul class="admin-list-table-nav-action-group">
			<li ng-click="pre()" ng-hide="pageInfo.index==1">
				<<
			</li>
			<li ng-click="next()" ng-hide="pageInfo.index>=pageInfo.totalPage">
				>>
			</li>
		</ul>
	</div>
</div>