<div>
    <div class="admin-module-header">
        Shipment List 
    </div>
	<div class="admin-list-table-header">
		<ul class="admin-list-table-page-action-group">
			<li>
				<label for="count">Page Size:</label>
				<select name="count" ng-model="pageInfo.count" convert-to-number ng-change="render()">
					<option value=5> 5 </option>
					<option value=10> 10 </option>
					<option value=50> 50 </option>
				</select>
			</li>
		</ul>
	</div>
    <table class="admin-list-table">
		<thead>
			<tr>
				<th>Status</th>
				<th>Method</th>
				<th>Company</th>
				<th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zipcode</th>
                <th>StartTime</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list.items" ng-click="showshipmentInfo($index)">
				<td>{{item.status | shipmentStatus }}</td>
				<td>{{item.shippingMethod}}</td>
                <td>{{item.shippingCompany}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.zipcode}}</td>
				<td>{{item.startTime | date:'medium'}}</td>
			</tr>
		</tbody>
	</table>
	<div class="admin-list-table-footer">
		<ul class="admin-list-table-nav-action-group">
			<li ng-click="pre()" ng-hide="pageInfo.index==1">
				<<
			</li>
			<li ng-click="next()" ng-hide="pageInfo.index>=pageInfo.totalPage">
				>>
			</li>
		</ul>
	</div>
</div>